@{
    ViewData["Title"] = "Register/Login";
}

@model road_runner.Models.UserViewModel


 
    <body>
         <link rel="stylesheet" href="~/css/testroad.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <div class="container">
           
            <header>
                <h1 id="marginr"  style="color:yellow;">Welcome to Road Runner!</h1>
				 <h1 style="color:yellow;">A traveler's app.</h1>
            </header>
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <h1>Login</h1>
                            <form asp-action="Login" asp-controller="Home" method="post">
                             <div class="form-group">
                                 <label for="email">Email:</label>
                                 <input class="form-control" asp-for="Log.email" placeholder="eg. mymail@mail.com">
                                 <span class="text-danger" asp-validation-for="Log.email"></span>
                         </div>
                     <div class="form-group">
                            <label for="password">Password:</label>
                             <input class="form-control" asp-for="Log.password" placeholder="eg. X8df!90EO">
                            <span class="text-danger" asp-validation-for="Log.password"></span>
                        </div>

                            <button type="submit" class="btn btn-primary">Login</button>
                                </form>
                                <p class="change_link">
									Not a Road Runner yet ?
									<a href="#toregister" class="to_register">Join us</a>
								</p>
                          
                        </div>

                        <div id="register" class="animate form">
                                <h1>Registration</h1>
                                <form asp-action="Register" asp-controller="Home" method="post">
                                <div class="form-group">
                                    <label for="Reg.first_name">First Name:</label>
                                    <input type="text" class="form-control-sm" asp-for="Reg.first_name" placeholder="eg. Johnny">
                                    <span class="text-danger" asp-validation-for="Reg.first_name"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Reg.last_name">Last Name:</label>
                                    <input type="text" class="form-control-sm"  asp-for="Reg.last_name" placeholder="eg. Roadrunner">
                                    <span class="text-danger" asp-validation-for="Reg.last_name"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Reg.username">Username:</label>
                                    <input type="text" class="form-control-sm" asp-for="Reg.username" placeholder="eg. roadrunner92">
                                    <span class="text-danger" asp-validation-for="Reg.username"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Reg.email">Email:</label>
                                    <input type="text" class="form-control-sm" asp-for="Reg.email" placeholder="eg. mymail@mail.com">
                                    <span class="text-danger" asp-validation-for="Reg.email"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Reg.password">Password:</label>
                                    <input type="password" class="form-control-sm" asp-for="Reg.password" placeholder="eg. X8df!90EO">
                                    <span class="text-danger" asp-validation-for="Reg.password"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Reg.cw_password">Confirm Password:</label>
                                    <input type="password" class="form-control-sm" asp-for="Reg.cw_password" placeholder="eg. X8df!90EO">
                                    <span class="text-danger" asp-validation-for="Reg.cw_password"></span>
                                </div>
                        
                                <button type="submit" class="btn btn-primary">Register</button>
                                </form>
                                <p class="change_link">  
									Already a Road Runner? 
									<a href="#tologin" class="to_register"> Go and log in </a>
								</p>
                                 </div>
								</p>
                               
                            
                        </div>
						
                    <!-- </div>
                </div>   -->
            </section>
        </div>
    </body>
