@{
    ViewData["Title"] = "User Page";
}

<p class="text-right">
    <a href="/dashboard" class="btn btn-primary">Dashboard</a>
    <a href="/logout" class="btn btn-primary">Logout</a>
</p>
<hr>


@ViewBag.thisUser.first_name @ViewBag.thisUser.last_name

<hr>

@if(ViewBag.thisUser != ViewBag.currentUser && ViewBag.friends == false)
{
<form asp-action="friend" asp-controller="Home" method="post">
        <input type="hidden" value=@ViewBag.thisUser.userId name="friendBId">
        <input type="hidden" value=@ViewBag.currentUser.userId name="friendAId">
        <input class="btn btn-link" type="submit" value="Add friend">
</form>
} else if(ViewBag.thisUser == ViewBag.currentUser){
<p><a href="#">Update your profile</a></p>
} else {
<p>You are already friends with @ViewBag.thisUser.first_name @ViewBag.thisUser.last_name!</p>
}

